<div class="team-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 mb-5">
          <div class="section-heading">
            <span  class="text-primary mb-1">Our Team</span>
            <h2 class="fw-bold mb-2">Meet the greatest people</h2>
            <p>Integer blandit, tellus varius vulputate cursus, purus orci tincidunt tortor, eget tincidunt elit justo non leo. Donec mollis nulla id est suscipit, ut laoreet nibh faucibus.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="team-item">
            <img src="assets/team-01.jpg" alt="error">
            <div class="down-content">
              <h4>Jonathan Smart</h4>
              <span>Co-Founder</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="team-item">
            <img src="assets/team-03.jpg" alt="error">
            <div class="down-content">
              <h4>John wick</h4>
              <span>Co-Founder</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="team-item">
            <img src="assets/team-01.jpg" alt="error">
            <div class="down-content">
              <h4>George White</h4>
              <span>Co-Founder</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>