   <div class="back" [class.scrolled]="scrolled">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand logo" href="#">HOST <span class="fs-5">CLOUD</span></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.bg-light]="isMobile" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link hover">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link hover">About Us</a>
            </li>
            <li class="nav-item">
              <a routerLink="services" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link hover">Our Services</a>
            </li>
            <li class="nav-item">
              <a routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link hover">Contact Us</a>
            </li>
          </ul>
          <div class="d-flex ms-lg-3">
            <button class="outline me-2">LOG IN</button>
            <button class="secondButton">SIGN UP</button>
          </div>
        </div>
      </nav>
    </div>
  </div>
  