<div class="back">
    <div class="container pt-5 pb-5 mb-5">
        <div class="text-center pb-4">
            <p class="fw-bold">TRUSTED BY 1,250+ HAPPY CUSTOMERS WORLDWIDE</p>
        </div>
        <div class="row text-center pb-3">
            <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                <img src="assets/trusted-01.png" alt="error">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                <img src="assets/trusted-01.png" alt="error">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                <img src="assets/trusted-01.png" alt="error">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
                <img src="assets/trusted-01.png" alt="error">
            </div>
        </div>
    </div>
</div>
