<div class="features-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="section-heading">
            <span class="text-primary">Best Quality for you</span>
            <h2 class="fw-bold">Cloud Features</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-item">
            <div class="icon">
              <img src="assets/feature-01.png" alt="error">
            </div>
            <h4>Load Balanced</h4>
            <p>Nulla nisl ex, vehicula in urna nec, commodo consectetur augue. Vivamus nec metus mauris. Praesent lacinia tempus urna.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-item">
            <div class="icon">
              <img src="assets/feature-01.png" alt="error">
            </div>
            <h4>99.9% Uptime Guaranteed</h4>
            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-item">
            <div class="icon">
              <img src="assets/feature-01.png" alt="error">
            </div>
            <h4>Top Reliability</h4>
            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-item">
            <div class="icon">
              <img src="assets/feature-01.png" alt="error">
            </div>
            <h4>High Security</h4>
            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-item">
            <div class="icon">
              <img src="assets/feature-01.png" alt="error">
            </div>
            <h4>Quality Hardwares</h4>
            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature-item">
            <div class="icon">
              <img src="assets/feature-01.png" alt="error">
            </div>
            <h4>Network Solutions</h4>
            <p>Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
          </div>
        </div>
      </div>
    </div>
  </div>